body{
    height: 100vh;
    background: url("../img/bg-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.backdark{
    width: 100%;
    height: 100%;
    background-color: #0000009f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-size: 6rem;
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

.btn-purple-gradient{
    text-decoration: none;
    border: 2px solid #a200ff;
    color: #a200ff;
    padding: 5px 15px;
    border-radius: 30px;
    transition: all 300ms;
}

.btn-purple-gradient:hover{
    color: white;
    background-color: #a200ff;
}

@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  