@font-face {
    font-family: "vazir";
    src: url("../font/Vazir.eot") format("eot"),
         url("../font/Vazir.woff") format("woff"),
         url("../font/Vazir.woff2") format("woff2"),
         url("../font/Vazir.ttf") format("ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "vazir";
    background-color: #f6f6f6;
}

/* Navbar Style */
.dropdown-toggle:hover + .dropdown-menu,
.dropdown-menu:hover{
    display: block;
}

.dropdown-menu{
    overflow: hidden;
    border-radius: 0;
    border: 0;
    border-top: 4px solid #a200ff;
}

.m-dropdown-item{
    transition: margin-right 200ms;
}
.m-dropdown-item:hover{
    color: #a200ff;
    background-color: white;
    margin-right: 5px;
}

@media screen and (max-width:767px) {
    .header-margin{
        margin-top: 90px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .header-margin{
        margin-top: 50px;
    }
}

/* Section 1 Style */
.m-icon{
    background-color: #e9c4ff;
    padding: 10px;
    border-radius: 15px;
}

/* Section 2 Style */

.m-card{
    border-radius: 0;
    border: 0;
    transition: box-shadow 200ms;
}

.m-card:hover{
    box-shadow: 0px 0px 20px #d6d6d6;
}

@media screen and (max-width:767px) {
    .m-card{
        border: 1px solid #cacaca;
    }
}

.link-icon{
    color: black;
    display: inline-block;
}

.icon1:hover{color: #94001e;}
.icon2:hover{color: green;}
.icon3:hover{color: #009dff;}
.icon4:hover{color: #0077ff;}

.m-border-bottom{
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.footer-link{
    color: black;
    text-decoration: none;
    transition: color 200ms , margin-right 200ms;
    position: relative;
}
.footer-link:hover{
    color: crimson;
    margin-right: 5px;
}

.footer-link::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #a200ff;
    display: block;
    top: 26px;
    right: 0;
    transition: width 200ms;
}


.footer-link:hover.footer-link::before{
    content: "";
    width: 20px;
    background-color: #a200ff;
    display: block;
    bottom: 0;
    right: 0;
}

.responsiv-nav-link:link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin: 20px 0;
    font-weight: bold;
}

.responsiv-nav-link:active{
    color: purple;
}

.responsiv-nav-link:visited{
    color: black;
}

.responsiv-nav-link-item{
    color: black;
    text-decoration: none;
}

.m-border-start{
    border-right: 2px solid #a200ff;
}

.bg-image-nav{
    background: url("../img/Checklist\ _Monochromatic.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.menu-btn{
    background-color: #a200ff;
    padding: 7px;
    border: 0;
    border-radius: 10px;
    box-shadow: none;
}

.menu-btn:focus{
    box-shadow: none;
}