@font-face {
    font-family: "vazir";
    src: url("../font/Vazir.eot") format("eot"),
         url("../font/Vazir.woff") format("woff"),
         url("../font/Vazir.woff2") format("woff2"),
         url("../font/Vazir.ttf") format("ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "vazir";
    background-color: #eee;
}

/* Navbar Style */
.dropdown-toggle:hover + .dropdown-menu,
.dropdown-menu:hover{
    display: block;
}

.dropdown-menu{
    overflow: hidden;
    border-radius: 0;
    border: 0;
    border-top: 4px solid #a200ff;
}

.m-dropdown-item{
    transition: margin-right 200ms;
}
.m-dropdown-item:hover{
    color: #a200ff;
    background-color: white;
    margin-right: 5px;
}

@media screen and (max-width:767px) {
    .header-margin{
        margin-top: 90px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .header-margin{
        margin-top: 50px;
    }
}